<!-- HELLO
<p-table [value]="dogs" selectionMode="single" [(selection)]="selectedDog" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" >
  <ng-template pTemplate="header">
    <tr>
      <th>name</th>
      <th>years</th>
      <th>variety</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dogs>
    <tr>
      <td>{{dogs.name}}</td>
      <td>{{dogs.years}}</td>
      <td>{{dogs.variety}}</td>
      <td>
        <ng-template let-dog="rowData" pTemplate="body">
          <button type="button" pButton (click)="selectDog(dogs)"   icon="fa-edit">編輯</button>
      </ng-template>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div style="text-align: right">
      <button type="button" (click)="showBasicDialog()" pButton icon="pi pi-external-link" label="新增"></button>
    </div>
  </ng-template>
</p-table> -->


<!-- <p-dialog header="Godfather I" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayBasic=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-times" (click)="displayBasic=false" label="No"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<h3>編輯狗狗資訊</h3>
<ng-container *ngIf="!selectedDog;else dogDetail"> 你尚未點選狗狗</ng-container>
<ng-template #dogDetail>
  <app-dog-detail [dog]="selectedDog" (deleteDog)="deleteDog($event)"></app-dog-detail>
</ng-template> -->





<p-table [columns]="cols" [value]="dogs" selectionMode="single" [(selection)]="selectedDog" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
      List of Cars
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
          <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
  </ng-template>
</p-table>


<p-dialog header="dog Details" [(visible)]="displayDialog" [focusOnShow]="false" showEffect="fade" [modal]="true" [style]="{width: '300px'}">
  <div class="p-grid ui-fluid" *ngIf="dog">
      <div class="p-col-4">
          <label for="vin">name</label>
      </div>
      <div class="p-col-8">
          <input pInputText id="vin" [(ngModel)]="dog.name" autofocus />
      </div>
      <div class="p-col-4">
          <label for="year">Years</label>
      </div>
      <div class="p-col-8">
          <input pInputText id="year" [(ngModel)]="dog.years" />
      </div>
      <div class="p-col-4">
          <label for="brand">variety</label>
      </div>
      <div class="p-col-8">
          <input pInputText id="variety" [(ngModel)]="dog.variety" />
      </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-times" (click)="deleteDog()" label="Delete"></button>
          <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
      </div>
  </p-footer>
</p-dialog>
